extends ./apps_base.jade

block title
  title Mama Connect

block content



  p(class="select-a-topic") Healthcare Worker Training
  section(class="did-you-know")
    img(class="did-you-know-image", src=hcwt.image)
    div(class="did-you-know-text")
      h6(class="did-you-know-heading") Did you know
      h5(class="did-you-know-question")= hcwt.question
      a(class="did-you-know-link", href=hcwt.category.uri) Watch videos about #{hcwt.category.name.toLowerCase()} here
  p(class="select-a-topic") Select a topic:
  ul(class="home-menu")
    each category in categories
      li: a(href="/healthcare-worker-training/#{category.uri}")
        span(class="icon", style="background-image: url(#{category.thumbnail})")
        span(class="title") #{category.name}
