extends ./apps_base.jade

block title
  title Mama Connect

block content

  section(class="listing medium")
    header(class="listing-header")
      h4(class="listing-heading") Watch Video

    div(class="medium-video")
      video(
        id="medium-video",
        src="http://data.goddard.com/media/#{medium.uri}",
        poster="/static/img/allthumbs/#{medium.thumbnail}.png",
        preload="metadata",
        controls, autobuffer
      )

    section(class="medium-meta")
      h4(id="play-video", class="medium-heavy-link") Play Video
      h3(class="medium-name") #{medium.name}
      p(class="medium-description") #{medium.description}
      p(class="uppercase") Source: #[a(class="medium-source-link", href=medium.source) here]
      div(class="rounded-block")
        i(class="medium-download")
        a(class="medium-download-link", href="http://data.goddard.com/media/#{medium.uri}", download) Save this video to my phone

    div(class="medium-watch-more")
      a(class="medium-watch-more-link", href=parent) Watch more videos about #{categoryName.toLowerCase()}&hellip;

    script.
      document.getElementById('play-video').onclick = function(e) {
        var video = document.getElementById('medium-video');
        location.assign('#medium-video');
        return video.paused ? video.play() : undefined;
      };
