extends ./apps_base.jade

block title
  title Mama Connect

block content

  section(class="category")
    header(class="category-header")
      h4(class="category-heading") #{category.name}
    section(class="category-list")

      ul

        each site in category.sites

          li(class="category-list-item")
            div(class="w-20 category-list-thumbnail", style="background-image: url(#{site.thumbnail});")
            div(class="w-50")
              h5(class="category-list-item-heading")= site.name
              p(class="category-subtext") #{site.description.slice(0, 60)}&hellip;
              a(class="category-list-link", href=site.uri) + Visit this site
            div(class="w-20 right category-list-icon category-list-icon-arrow")

        each medium, i in category.media

          li(class="category-list-item")
            div(class="w-20 category-list-thumbnail", style="background-image: url(#{medium.thumbnail});")
            div(class="w-50")
              h5(class="category-list-item-heading") #{medium.name}
              p(class="category-subtext") #{medium.description.slice(0, 60)}&hellip;
              a(class="category-list-link", href="./#{category.uri}/video/#{i}") + Watch this video
            div(class="w-20 right category-list-icon category-list-icon-play")
