extends ./thenewapps_base.jade

block title
  title Mama Connect

block content

  //- p welcome to #{category.name}

  each option in categories
    h4 #{option.name}
    ul
      if (option.sites && current.indexOf('all-videos') === -1)
        each site in option.sites
          //- a(href=category.uri + '/' + option.uri)= option.name
          li #{site.name}
      each medium in option.media
        li #{medium.name}
