extends ./thenewapps_base.jade

block title
  title Mama Connect

block content

  a(href=parent) ^ go up a level

  ul
    each option in menu
      li
        a(href=option.uri)= option.name

  p.
    welcome to #{medium.name}
    this medium is #{medium.size}
    this medium is #{medium.available ? '' : 'not'} available

  video(src='http://data.goddard.com/media/' + medium.uri, controls)
