extends ./thenewapps_base.jade

block title
  title Mama Connect

block content

  a(href=parent) ^ go up a level

  ul
    each option in menu
      li
        a(href=option.uri)= option.name

  p welcome to #{category.name}

  section
    h6 media
    ul
      each medium in category.media
        li
          a(href="./video/#{medium}") #{medium.name} (size: #{medium.size}, available: #{medium.available})

  section
    h6 sites
    ul
      each site in category.sites
        li #{site.name}
