doctype html

html(lang="en")

  head

    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/static/css/raleway.css")
    link(rel="stylesheet", href="/static/css/thenewapps.css")
    link(rel="shortcut icon", href="/static/img/favicon.ico")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Mama Connect Health Service")

    block title
      title Mama Connect

  body

    - var riskyBusiness = "<div class=\"swatch-green w-33\"></div><div class=\"swatch-teal w-26\"></div><div class=\"swatch-purple w-5\"></div><div class=\"swatch-yellow w-26\"></div><div class=\"swatch-teal w-10\"></div>";
    - var alsoRiskyBusiness = "<div class=\"swatch-green w-33\"></div><div class=\"swatch-teal w-26\"></div><div class=\"swatch-purple w-5\"></div><div class=\"swatch-yellow w-26\"></div><div class=\"swatch-orange w-10\"></div>";
    - var hamburgerAttrs = {'data-toggle': 'collapse','data-target': '#bs-collapse-menu'};

    section(class="swatch") !{riskyBusiness}

    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle&attributes(hamburgerAttrs)
                    span.sr-only Toggle navigation
                    div.hamburger
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    span.menu-text menu
                a.navbar-brand(href="#") mamaconnect

            .collapse.navbar-collapse#bs-collapse-menu
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Start Page
                    each item in menu
                        //- TODO: Add conditional for active class
                        -if (0)
                            li.active
                                a(href=item.uri) #{item.name}
                        -else
                            li
                                a(href=item.uri) #{item.name}


    block content

    section(class="swatch") !{alsoRiskyBusiness}

    script(src="/static/js/jquery-2.1.3.min.js")
    script(src="/static/js/bootstrap.min.js")

    block scripts
